header {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
}

header h1 {
  font-size: 24px;
  font-weight: 700;
}
a{cursor: pointer;}

nav ul {
  list-style: none;
  display: flex;
}

nav li + li {
  margin-left: 20px;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-weight: 700;
}
nav a:hover{
  color: green;
}



.chat-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e2eee6;
  height: 540px;
  border-radius: 5px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info p {
  margin-right: 10px;
}

.user-info button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: green;
  color: #fff;
}

.chat-box {
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  background-color: #fff;
}





form {
  display: flex;
  margin-top: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: green;
  color: #fff;
}



.user-list-container {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

.user-list-header {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.user:hover {
  background-color: #e0e0e0;
}


.message {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;

} .received {
  background-color: #f1f0f0;
}

.sent {
  background-color: #9fccb1;


  
}


.message-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
}

.sender-name {
  font-size: 12px;
  font-weight: bold;
  margin-right: 16px;
}

.sent-time {
  font-size: 14px;
  color: rgb(102, 101, 101);
}

.message-text {
  background-color: transparent;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.4;
  width: 450px;
}


.sidebar{
  
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* horizontal-offset vertical-offset blur spread color */
  border-radius: 10px;
  height: 450px;
}
.sidebar a{
  text-decoration: none;
}
.sidebar a:hover{
  color: green;
}
.sidebar h3{
  padding-top: 15px;
  color: green;
}
.card1{
  width: 400px;
  
}






