<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
</head>
<body>
    <br>
    <header>
      <img src="assets/images/applogo.png" style="height: 40px;width: 60px;" alt="">
        <h1>Team Chat</h1>
        <nav>
          <a href="/home">Home</a>
        </nav>
      </header> 
      <br>
  <div class="container">
    <h1>Contact</h1><br><br>
    
    <ul>
     <img style="height: 30px;width: 30px;"  src="assets/images/phone.png" alt=""> &nbsp;<b>Phone number : </b>+216 27857475 <br><br><br>
     <img style="height: 50px;width: 50px;"  src="assets/images/email.png" alt=""> &nbsp;<b>Email : </b> sahar.khemissi1@gmail.com <br><br><br>
     <img style="height: 30px;width: 30px;"  src="assets/images/facebook.png" alt=""> &nbsp;<b>Facebook : </b> www.facebook.com/team.chat
    </ul>
   
  </div>
  
</body>
</html>