<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
  <br>
    <header>
      <img src="assets/images/applogo.png" style="height: 40px;width: 60px;" alt="">
        <h1>Team Chat</h1>
        <nav>
          <a href="/home">Home</a>
        </nav>
      </header> 
      <br>
	<div class="login">
		<h1>Login</h1>
		<h6 *ngIf="error" style="color: red;">User does not exist !</h6>
		<form #addForm="ngForm" (ngSubmit)="authentificate(addForm)" >
			<label for="firstname">
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="firstname" placeholder="firstname" required [(ngModel)]="employee.firstname">
      <label for="lastname">
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="lastname" placeholder="lastname" required [(ngModel)]="employee.lastname">
			<label for="password">
				<i class="fas fa-lock"></i>
			</label>
			<input type="password" name="password" placeholder="Password" required [(ngModel)]="employee.password">
			<input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;"><br>
      <a href="" style="text-decoration: none;color: rgb(26, 25, 25);">Forgot Password ?</a>
		</form>
	</div>
	
</body>
<footer>
      
	<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; 2023 Team Chat Application. All rights reserved.</p>
 </footer>
</html>