<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
</head>
<body>
    <br>
    <header>
      <img src="assets/images/applogo.png" style="height: 40px;width: 60px;" alt="">
        <h1>Team Chat</h1>
        <nav>
          <a href="/home">Home</a>
        </nav>
      </header> 
      <br>
  <div class="container">
    <h1>About Us</h1>
    <p>
      Welcome to our team chat application! We are a dedicated team of developers
      who have created this platform to facilitate seamless communication and
      collaboration among team members.
    </p>
    <h2>Features</h2>
    <ul>
      <li>Real-time messaging for instant communication</li>
      <li>Easy-to-use interface for smooth user experience</li>
     
    </ul>
    <h2>Meet the Team</h2>
    <div class="team-members">
      <div class="team-member">
        <img src="assets/images/sahar.jpg" alt="Team Member 1" />
        <h3>Sahar Khmissi</h3>
        <p>Web Developer</p>
      </div>
      
    </div>
  </div>
</body>
</html>